:root {
  --bg: #fdf8ec;
  --blue: #0f3484;
}

.forgot-page {
  background-color: var(--bg);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../assets/border.png") repeat-x bottom;
  background-size: 100vw 5rem;
  padding: 1.5rem 2rem;
}

.navbar a {
  margin-left: 1.5rem;
  color: var(--blue);
  text-decoration: none;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--blue);
}

.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.forgot-box {
  width: 100%;
  max-width: 340px;
  max-height: 480px;
  font-family: "Calistoga", serif;
  border: 5px solid var(--blue);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: transparent;
}

.forgot-header {
  text-align: left;
  margin-bottom: 10px;
}

.forgot-header h2 {
  color: var(--blue);
  font-size: 32px;
  margin: 0;
  font-weight: normal;
}

.forgot-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--blue);
  margin-bottom: 30px;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0;
}

.forgot-form label {
  color: var(--blue);
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.forgot-form input {
  width: 100%;
  padding: 15px;
  border: 4px solid var(--blue);
  border-radius: 8px;
  background-color: var(--bg);
  font-size: 16px;
  color: var(--blue);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.forgot-form input:focus {
  outline: none;
  border-color: var(--blue);
  box-shadow: 0 0 5px rgba(15, 52, 132, 0.3);
}

.send-reset-btn {
  background: none;
  border: none;
  color: var(--blue);
  border-radius: 8px;
  padding: 30px 30px;
  font-size: 25px;
  font-family: "Calistoga", serif;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.send-reset-btn:disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .forgot-page .navbar {
    padding: 0.875rem 1rem;
    background-size: 100vw 3.5rem;
  }
  .forgot-page .navbar a {
    font-size: 1.05rem;
    margin-left: 0.75rem;
  }

  .forgot-container {
    padding: 5px 10px;
  }

  .forgot-box {
    max-width: 40%;
    height: auto;
    padding: 30px 20px;
  }

  .forgot-header h2 {
    font-size: 28px;
  }

  .forgot-text {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .forgot-form {
    padding: 4rem 0 2rem;
  }

  .forgot-form input {
    padding: 12px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .forgot-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .send-reset-btn {
    padding: 20px 25px;
    font-size: 22px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
  .forgot-page .navbar {
    padding: 1rem 2rem;
    background-size: 100vw 3.5rem;
  }
  .forgot-page .navbar a {
    font-size: 1.05rem;
    margin-left: 0.75rem;
  }

  .forgot-box {
    max-width: 70%;
    border-width: 3px;
    padding: 25px 15px;
  }

  .forgot-header h2 {
    font-size: 24px;
  }

  .forgot-text {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .forgot-form {
    padding: 3rem 0 1rem;
  }

  .forgot-form input {
    padding: 10px;
    font-size: 13px;
    margin-bottom: 6px;
    border-width: 3px;
  }

  .forgot-form label {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .send-reset-btn {
    padding: 18px 20px;
    font-size: 20px;
    margin-top: 8px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 13px;
  }
  .forgot-page .navbar {
    padding: 0.875rem 1rem;
    background-size: 100vw 3.5rem;
  }
  .forgot-page .navbar a {
    font-size: 1.05rem;
    margin-left: 0.75rem;
  }
  .forgot-box {
    padding: 20px 12px;
  }

  .forgot-header h2 {
    font-size: 20px;
  }

  .forgot-text {
    margin-bottom: 5px;
  }

  .forgot-form {
    padding: 0.8rem 0;
  }

  .forgot-form input {
    padding: 8px;
    font-size: 12px;
    margin-bottom: 5px;
    border-width: 3px;
  }

  .forgot-form label {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .send-reset-btn {
    padding: 15px 15px;
    font-size: 18px;
    margin-top: 5px;
  }
}
