:root {
  --bg: #fdf8ec;
  --blue: #0f3484;
}

.Land1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  background: var(--blue);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/*NavBar*/
.Land1 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.navbar a {
  margin-left: 1.5rem;
  color: var(--blue);
  text-decoration: none;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--blue);
}

/*Hero*/
.hero{
    background: var(--blue);
    color: var(--bg);
    padding: 0rem 3.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
}

.hero h1 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.5rem;
  line-height: 1.2;
  color: var(--bg);
  margin: 0;
}

.hero span {
  display: block;
  margin-top: 0.5rem;
}

.how-section{
  display: none;
}

@media (max-width: 480px){
  .Land1 .navbar{
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
  }

  .navbar .logo{
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .navbar .si{
    font-size: 1rem;
    margin: 0;
  }

  .navbar .how-link{
    display: none;
  }

  .hero{
    padding: 0rem 1rem 0rem 2rem;
    height: 90vh;
    text-align: left;
    justify-content: flex-end;
  }

  .hero h1{
    font-size: 3rem;
  }

  .hero span{
    font-size: 3rem;
  }

  .how-section{
    display: block;
    padding: 4.5rem 0;
  }
}