:root {
  --bg: #fdf8ec;
  --blue: #0f3484;
}

.su1 {
  background-color: var(--bg);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../assets/border.png") repeat-x bottom;
  background-size: 100vw 5rem;
  padding: 1.5rem 2rem;
}

.navbar a {
  margin-left: 1.5rem;
  color: var(--blue);
  text-decoration: none;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--blue);
}

.signup-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.signup-box1 {
  max-width: 340px;
  max-height: 480px;
  width: 100%;
  border: 5px solid var(--blue);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.signup-header1 h2 {
  color: var(--blue);
  font-size: 32px;
  margin: 0;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.step1 {
  color: var(--blue);
  font-size: 24px;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.login-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--blue);
  margin-bottom: 30px;
}

.login-text a {
  color: var(--blue);
  text-decoration: underline;
}

.signup-form1 {
  padding: 3rem 0 0;
}

.signup-form1 input {
  width: 100%;
  padding: 15px;
  border: 4px solid var(--blue);
  border-radius: 8px;
  background-color: var(--bg);
  font-size: 16px;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: var(--blue);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.signup-form1 input:focus {
  outline: none;
  color: var(--blue);
  border: 4px solid var(--blue);
  box-shadow: 0 0 5px rgba(15, 52, 132, 0.3);
}

.signup-form1 label {
  display: block;
  color: var(--blue);
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.send-btn {
  background: none;
  border: none;
  color: var(--blue);
  border-radius: 8px;
  padding: 30px 30px;
  font-size: 25px;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .su1 .navbar {
    padding: 0.875rem 1rem;
    background-size: 100vw 3.5rem;
  }
  .su1 .navbar a {
    font-size: 1.05rem;
    margin-left: 0.75rem;
  }

  .signup-container1 {
    padding: 5px 10px;
  }

  .signup-box1 {
    max-width: 40%;
    padding: 40px 20px;
    align-self: center;
  }

  .signup-header1 h2 {
    font-size: 28px;
  }

  .step1 {
    font-size: 20px;
  }

  .login-text {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .signup-form1 {
    padding: 3rem 0;
  }

  .signup-form1 input {
    padding: 12px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .signup-form1 label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .send-btn {
    padding: 20px 25px;
    font-size: 22px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
  .su1 .navbar {
    padding: 1rem 2rem;
    background-size: 100vw 3.5rem;
  }

  .su1 .navbar a {
    font-size: 1.05rem;
    margin-left: 0.75rem;
  }

  .signup-box1 {
    max-width: 70%;
    padding: 25px 15px;
    border-width: 3px;
  }

  .signup-header1 h2 {
    font-size: 24px;
  }

  .step1 {
    font-size: 18px;
  }

  .login-text {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .signup-form1 {
    padding: 3rem 0 1rem;
  }

  .signup-form1 input {
    padding: 10px;
    font-size: 13px;
    margin-bottom: 6px;
    border-width: 3px;
  }

  .signup-form1 label {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .send-btn {
    padding: 18px 20px;
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 13px;
  }
  .su1 .navbar {
    padding: 0.875rem 1rem;
    background-size: 100vw 3.5rem;
  }
  .su1 .navbar a {
    font-size: 1.05rem;
    margin-left: 0.75rem;
  }

  .signup-box1 {
    padding: 20px 12px;
  }

  .signup-header1 h2 {
    font-size: 20px;
  }

  .step1 {
    font-size: 16px;
  }

  .login-text {
    margin-bottom: 5px;
  }

  .signup-form1 {
    padding: 0.8rem 0;
  }

  .signup-form1 input {
    padding: 8px;
    font-size: 12px;
    margin-bottom: 5px;
    border-width: 3px;
  }

  .signup-form1 label {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .send-btn {
    padding: 15px 15px;
    font-size: 18px;
    margin-top: 5px;
  }
}
